main {
	padding-left: 30px;
	padding-right: 30px;
}

main>div {
	max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
	margin-top: 0;
	padding-top: 20px;
	height: 50px;	
	min-width: 940px;
  overflow: hidden;
}

#menu>ul {
	padding-left: 0;
	padding-top: 12px;
	margin:0;
}

#menu>ul>li {
	display: inline-block;		
	text-align: center;	
	vertical-align: middle;
}

#menu>ul>li:last-child>a {
	color: #45b5ae; 
}

#menu>ul>li>a {
	margin: 0;	
	font: 600 14px/20px Proxima,sans-serif;
	text-decoration: none;	
  display: inline-block;
  color: #000;
  margin-right: 27px;  	
}

 #menu>ul>li>a:hover {
	color: #45b5ae; 
	transition-duration: 0.3s; 
}

 #frontpage {
 	max-width: 1210px;
 	height: auto; 	
 	padding-bottom: 40px;
 	margin: -15px;
 	display: table;
}

.card {
 	margin: 0;
  height: 440px;
  width: 25%;
  padding: 0.8%;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-bottom: 1.5%; 
  min-height: fit-content;
}

.card>a {
 	text-decoration: none;
	width: 100%;
  margin: 10px;
  background: #fff;
  display: block;
}

.card>a:hover .card-image { 	
  opacity: 0.9;
  transition-timing-function: ease-out;  	
  transition-duration: 0.3s;  	
}

.card>a:hover .card-title { 	
  color:#47B3AC;
  transition-timing-function: ease-out;  	
  transition-duration: 0.3s; 
}

.card-image {
  width: 100%;
}

.card-image>img {
  max-width: 100%;
  height: auto;
}

.card-tag {
 	width: 230px;
 	height: auto;
 	font: 800 11px/1.2 Proxima,sans-serif;   
  min-width: 20px;
  letter-spacing: .5px;
  color: #ec345e;
  padding: 20px 25px 7px 25px;
  text-align: center;
}

.card-title { 	
 	width: 230px;
 	height: 130px;
 	text-align: center;
 	color: #000;
 	font: 700 14px/1.2 Proxima,sans-serif;
 	font-size: 21.5px;
 	padding: 25px ;
 	padding-top: 0px;
}

.card-time {
	text-align: center;
	height: 23px;	
	padding-bottom: 25px;    
}

.card-time>span {
 	color: #a1a3a3;
 	text-align: center;
 	font: 600 13px/1.2 Proxima,sans-serif;
}

.card-time>i {
	color: #a1a3a3;
}

#but {
 	width: 100%;
 	height: 46px; 	
 	padding-bottom: 15px;
 	padding-top: 15px;
}

#article {
 	height: 46px;
 	width: auto;
 	border-radius: 23px;
 	padding-right: 42px;
 	padding-left: 42px;
 	border: none;
 	background-color: #45b5ae; 
 	font-size: 17px;
 	color: #FFF;
 	margin-left: 41%;
}

#article:hover {
 	background-color: #4bc0b8;
 	transition-duration: 0.3s; 
}

#article:focus {
	outline: none;
}




 