#message {
 	width: 100%;
	height: 290px;
	background-image: url(https://static.mel.fm/images/n-common/b-newsletter-signup-form/background.jpg?h=80feab68)
 }

#message>div {
	width: 420px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

#message>div>div {
	width: 420px;
	height: 40px;
	background-color: #FFF;
}

 #title {
 	color: #FFF;
 	text-align: center;
 	font: 700 30px/37px Proxima,sans-serif;
 	padding-top: 66px;
 	margin-bottom: 20px;
 }

#input {
	display: inline-block; 
}

#email {
	width: 357px;
	height: 40px;
	padding: 0;
	padding-left: 13px;	
	border: none;
	font: 15px/1.3 'Open Sans',Arial,sans-serif;
	padding-right: 50px;
}

#email:focus {	
	padding-left: 12px;
	border: 2px solid #47B3AC;
	outline: 0;
	box-shadow: none;
}

#plane-button {
	position: absolute; 
}

#plane {
	padding: 0;
	margin: 0;
	border: none;
	height: 100%; 
}

#plane>img{
	bottom: 0px;
	right: auto;
	width: 32px;
	height: 32px;
	border: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	top: -35px;
	left: 378px;
	position: absolute;
}

#text {
 	color: #FFF;
 	text-align: center;
 	font: 14px/20px Proxima,sans-serif; 
 	opacity: .8;
 }

#foot {
 	width: 100%;
	min-height: 230px;	
	background-color: #1C1C1C;
	text-align: center;
	padding-top: 0;
 }

#foot>div {
 	box-sizing: border-box;
    width: 100%;
    min-height: 230px;
    padding: 55px 40px 56px;
}

#f-menu {
	margin-bottom: 27px;
}
#f-menu>a {
	margin: 0;		
	text-decoration: none;	   	
  	margin-right: 27px;
  	color: #ECECEC;
	font: 600 14px/18px Proxima,sans-serif;
}

#f-menu>a:hover {
	color: #47b3ac;
	transition-duration: 0.3s; 
}

#f-menu>a:last-child {
	color: #47b3ac;
}

#link {
	max-width: 670px;
	margin-bottom: 31px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

#link>a:hover {
	color: #47b3ac;
	transition-duration: 0.3s; 
}

#link>a {
	margin-right: 20px;
	text-decoration: none;
	color: #888;
	font: 14px/24px roboto-regular,Arial,sans-serif;
	display: inline-block;
}

#f-icons {
	margin-bottom: 35px;
}

.social {
	width: 50px;
    height: 50px;
    display: inline-block;
    border-color: #888;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    margin-right: 13px;
}

.social>a {
	display: block;
    height: 50px;
}

.social>a>i {
	font-size: 130%;
    vertical-align: middle;
    color: #fff;
    padding-top: 15px;
}

#copyright {
 	color: #fff;
 	font: 14px/24px roboto-regular,Arial,sans-serif;
}

/*@media screen and  (max-width: 767px){
	#f-menu {
		display: none;
	}

	#link {
		display: none;
	}

	#copyright {
		display: none;
	}



}*/






