body {
	margin: 0;
	background-color: #f2f2f2;
	overflow-x: hidden;
}

header {
	height: 70px;
	width: 100%;
	background-color: #212121;
}

header>div {
	height: 70px;	
	background: #212121;
	padding-right: 30px;
    padding-left: 30px;
	max-width: 1210px;
    margin-left: auto;
    margin-right: auto; 
    min-width: 800px;	
    overflow: hidden;   
    max-width: 1210px
}

#logo>img {
	heigth: 25px;
	width: 86px;
}

#logo {
	width: 86px;
	height: auto;
	padding-top: 21px;
	padding-bottom: 21px;
	margin: 0;
	float: left;
}

#header-menu {
	width: auto;
	heigth: 100%;
	float:left; 	
	margin-left: 42px;
	display: inline-block;
}

#header-menu>ul {
	margin: 0;	
	display: inline-block;
	list-style: none;
	padding-left: 0;
	height: 70px;
}

#header-menu>ul>li {
	display: inline-block;
	position: relative;
	height: 70px;
	margin-right: 31px;	
}

#header-menu>ul>li:last-child {
	margin-right: 0;	
}

#header-menu>ul>li>a {
	margin: 0;	
	font: 700 15px Proxima,sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	float:left; 
	line-height: 70px;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	height: 66px;
	border-color: #212121;
}

#header-menu>ul>li:first-child>a {
	border-color: #45b5ae;
}

#header-menu>ul>li>a:hover {
    color: #45b5ae;    
}

#rigth-buttons {
	float: right;
	margin-right: 10px;
	margin-top:20px;
}

.icon {
	color: #FFF;
	background-color: #212121;	
	border: none;	
}

.icon>span {
	font: 500 13px Proxima,sans-serif;	
	text-transform: uppercase;
}

#rigth-buttons>button>i {	
	font-size: 125%	;
}

.icon:hover {
	color: #45b5ae; 	
}

#in {
	border-radius: 15px;
	background-color: #45b5ae; 
	border: none;
	color: #FFF;
	height: 30px;
	width: 65px;
	font: 700 15px Proxima,sans-serif;
	font-size: 100%	;
}

#in:hover {
	background-color: #4bc0b8; 
	transition-timing-function: ease-out;  	
  	transition-duration: 0.3s;
}

main {
	padding-left: 30px;
	padding-right: 30px;
}

#menu>ul>li>a {
	margin: 0;	
	font: 600 14px/20px Proxima,sans-serif;
	text-decoration: none;	
  	display: inline-block;
  	color: #000;
  	margin-right: 27px;
  	font-style: bold;
 }

 #menu>ul>li>a:hover {
	color: #45b5ae; 
 }

#menu>ul>li {
	display: inline-block;		
	text-align: center;	
	vertical-align: middle;
}

#menu>ul {
	padding-left: 0;
	padding-top: 16px;
	margin:0;
}

#menu {
	margin-top: 0;
	padding-top: 20px;
	margin-bottom: 18px;
	height: 50px;	
	min-width: 940px;
    overflow: hidden;
}

 #menu>ul>li:last-child>a {
	color: #45b5ae; 
 }

 #but {
 	width: 100%;
 	height: 46px; 	
 	padding-bottom: 55px;
 }

 #article {
 	height: 46px;
 	width: auto;
 	border-radius: 23px;
 	padding-right: 42px;
 	padding-left: 42px;
 	border: none;
 	background-color: #45b5ae; 
 	font-size: 17px;
 	color: #FFF;
 	margin-left: 41%;
 }

  #article:hover {
 	background-color: #4bc0b8;
 }

 #blog {
 	font: 600 13px/17px Proxima,sans-serif;
 	text-transform: uppercase;
 }

 #message {
 	width: 100%;
	height: 290px;
	background-image: url(https://static.mel.fm/images/n-common/b-newsletter-signup-form/background.jpg?h=80feab68)
 }

 #foot {
 	width: 100%;
	min-height: 230px;	
	background-color: #1C1C1C;
	text-align: center;
	padding-top: 0;
 }

 #foot>div {
 	box-sizing: border-box;
    width: 100%;
    min-height: 230px;
    padding: 55px 40px 56px;
 }

 #title {
 	color: #FFF;
 	text-align: center;
 	font: 700 30px/37px Proxima,sans-serif;
 	padding-top: 66px;
 	margin-bottom: 20px;
 }

 #text {
 	color: #FFF;
 	text-align: center;
 	font: 14px/20px Proxima,sans-serif; 
 	opacity: .8;
 }

 #copyright {
 	color: #fff;
 	font: 14px/24px roboto-regular,Arial,sans-serif;
 }

#f-menu>a {
	margin: 0;		
	text-decoration: none;	   	
  	margin-right: 27px;
  	color: #ECECEC;
	font: 600 14px/18px Proxima,sans-serif;
}

#f-menu>a:hover {
	color: #47b3ac;
}

#f-menu>a:last-child {
	color: #47b3ac;
}
#f-menu {
	margin-bottom: 27px;
}

#link>a {
	margin-right: 20px;
	text-decoration: none;
	color: #888;
	font: 14px/24px roboto-regular,Arial,sans-serif;
	display: inline-block;
}

#link>a:hover {
	color: #47b3ac;
}

#link {
	max-width: 670px;
	margin-bottom: 31px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

#f-icons {
	margin-bottom: 35px;
}

.social {
	width: 50px;
    height: 50px;
    display: inline-block;
    border-color: #888;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    margin-right: 13px;
}

.social>a>i {
	font-size: 130%;
    vertical-align: middle;
    color: #fff;
    padding-top: 15px;
}

.social>a {
	display: block;
    height: 50px;
}

#email {
	width: 357px;
	height: 40px;
	padding: 0;
	padding-left: 13px;	
	border: none;
	font: 15px/1.3 'Open Sans',Arial,sans-serif;
	padding-right: 50px;
}

#message>div {
	width: 420px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

#message>div>div {
	width: 420px;
	height: 40px;
	background-color: #FFF;
}

#email:focus {	
	padding-left: 12px;
	border: 2px solid #47B3AC;
	outline: 0;
	box-shadow: none;
}

#plane {
	padding: 0;
	margin: 0;
	border: none;
	height: 100%; 
}

#input {
	display: inline-block; 
}

#plane-button {
	position: absolute; 
}

#plane>img{
	bottom: 0px;
	right: auto;
	width: 32px;
	height: 32px;
	border: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	top: -35px;
	left: 378px;
	position: absolute;
}

main>div {
	/*width: 1210px;*/
	max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
}

 #frontpage {
 	/*width: 100%;*/
 	max-width: 1210px;
 	height: auto; 	
 	padding-bottom: 40px;
 	margin: -10px;
 }

 .card {
 	height:440px;
 	width: 280px;
 	background-color: #fff;
 	margin: 0.8%;
 	display: inline-block;
 }

.card-image {
 	width: 280px;
 	height: 220px;
 	
 }
 .card-image>img {
 	width: 280px;
 	height: 220px; 	
 }

 .card-tag {
 	width: 230px;
 	height: auto;
 	font: 800 11px/1.2 Proxima,sans-serif;   
    min-width: 20px;
    letter-spacing: .5px;
    color: #ec345e;
    padding: 20px 25px 7px 25px;
    text-align: center;
 }

 .card-title { 	
 	width: 230px;
 	height: 107px;
 	text-align: center;
 	color: #000;
 	font: 700 14px/1.2 Proxima,sans-serif;
 	font-size: 21.5px;
 	padding: 25px ;
 	padding-top: 0px;
 }

.card-time {
	text-align: center;
	height: 23px;
	margin-bottom: 25px;
}

 .card-time>span {
 	color: #a1a3a3;
 	text-align: center;
 	font: 600 13px/1.2 Proxima,sans-serif;
 }

 .card-time>i {
 	color: #a1a3a3;
 }

 .card>div>a {
 	text-decoration: none;
 	width: 280px;
    height: 440px;
    display: block;
 }

  .card>div>a:hover .card-image{ 	
  	opacity: 0.9;
  	transition-timing-function: ease-out;  	
  	transition-duration: 0.3s;  	
 }


  .card>div>a:hover .card-title{ 	
  	color:#47B3AC;
  	transition-timing-function: ease-out;  	
  	transition-duration: 0.3s;
 }